@use '../core' as *;
@use 'sass:color';
*, *::before, *::after { box-sizing: border-box; }
@mixin button($variant) {
  // базові властивості
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;

  // -------------- PRIMARY ---------------------------------
  @if $variant == primary {
    display: block;
    width: 100%;
    padding: 1.5rem 3rem;           // 24 × 48 px
    background: rgba(163, 91, 91, 1);
    color: #fff;
    border: none;

    &:hover { background: rgba(218, 133, 133, 1); }

    // ––– Адаптація
    @media (max-width: 768px)  { width: 100%; padding: 1.25rem 2rem; }
    @media (max-width: 425px)  { padding: 1rem 1.5rem; font-size: 15px; }
    @media (max-width: 375px)  { padding: .875rem 1.25rem; font-size: 14px; }
  }

    // -------------- SECONDARY --------------------------------
  @else if $variant == secondary {
    padding: .5rem 1.5rem;
    border: 1px solid rgba(163, 91, 91, 1);
    background: transparent;
    color: rgba(163, 91, 91, 1);
    width: 100%;
    &:hover {
      background: rgba(218, 133, 133, 1);
      border-color: rgba(218, 133, 133, 1);
      color: #fff;
    }

    // ––– Адаптація
    @media (max-width: 768px) { padding: .5rem 1.25rem; }
    @media (max-width: 425px) { padding: .5rem 1rem; font-size: 15px; }
    @media (max-width: 375px) { padding: .4375rem .875rem; font-size: 14px; }
  }

    // -------------- TERTIARY ---------------------------------
  @else if $variant == tertiary {
    padding: 1.5rem 3rem;           // 24 × 48 px
    width: 100%;                     // у секції program ми все одно ставимо 100%
    background: #fff;
    color: rgba(163, 91, 91, 1);
    border: none;

    &:hover {
      background: rgba(218, 133, 133, 1);
      color: #fff;
    }

    // ––– Адаптація
    @media (max-width: 1024px) { width: 100%; }      // планшети й нижче
    @media (max-width: 768px)  { padding: 1.25rem 2rem; font-size: 16px; }
    @media (max-width: 425px)  { padding: 1rem 1.5rem; font-size: 15px; }
    @media (max-width: 375px)  {
      padding: .875rem 1.25rem;
      font-size: 14px;

      svg { width: 24px; height: 24px; }             // менша іконка
    }
  }

}
.button {
  @include button(primary);
}

.button--primary {
  @include button(primary);
}

.button--secondary {
  @include button(secondary);
}

.button--tertiary {
  @include button(tertiary);
}

