
// Основні кольори
$color-primary: #a35b5b;
$color-primary-light: #d78888;
$color-secondary: #f1ebe4;
$color-white: #ffffff;
$color-dark: #3a3a3a;
$color-accent: #ffd0d5;

// Шрифти
$font-heading: 'Cormorant Garamond', serif;
$font-base: 'Arial', sans-serif;

// Інше
$border-radius: 8px;
