<section class="about">
    <div class="about__container">
        <span class="about__label">Обо мне</span>

        <h2 class="about__title">
            <span class="about__subtitle">Добрый день!</span>
            Меня зовут&nbsp;<b>Светлана</b>, <i>я практикующий психолог</i>
        </h2>

        <div class="about__content">
            <picture class="about__photo">
                <img src="images/about-photo.png" width="400" height="632" alt="Светлана у каміну">
            </picture>

            <div class="about__text">
                <p>
                    Мой путь в психологии отношений начался с интереса к человеческой душе еще в подростковом возрасте и с тех пор я постоянно учусь, исследую и помогаю другим находить дорогу к себе, к гармонии с собой и в паре. Моя практика включает классическую психологию, психосоматику, тарологию, нумерологию и НЛП. 
                </p>
                <p>
                    И этот курс – результат моего многолетнего практического опыта, накопленных знаний и моей веры в то, что каждая женщина можете переписать свой сценарий отношений и построить жизнь, полную любви. 
                </p>

                <h3 class="about__inner-title">Немного личного</h3>

                <p>
                    В своих отношениях я прошла путь длиной в десятилетия. Мы с мужем вместе уже 34 года. Нам было 16 и 20, когда все началось. Менялась жизнь и обстоятельства, менялись мы, но нам всегда удавалось трансформировать наши отношения так, чтобы оставаться вместе, поддерживать и наполнять друг друга. Через бури и ясные дни, через молчание и разговоры
                    по душам, благодаря ежедневному выбору быть рядом.
                </p>
                <p class="about__accent">Я верю, что:</p>
            </div>
        </div>
    </div>
</section>
