<section class="about-course">
    <div class="about-course__container">
        <div class="about-course__left">
            <h2 class="about-course__side-title">О чём этот курс</h2>
        </div>

        <div class="about-course__right">
            <div class="about-course__text-block">
                <h3 class="about-course__title">
                    Это не просто об&nbsp;отношениях
                </h3>

                <img
                        src="images/girl-heart.svg"
                        alt="Девушка зашивает сердце"
                        class="about-course__image"
                />

                <p>
                    Этот курс о вас! Про ваши внутренние сценарии, травмы,
                    потребности и то, как они управляют вашей жизнью.
                </p>
                <p>
                    Вы научитесь понимать, чего на самом деле хотите, и как
                    создать здоровые, наполненные отношения — сначала с собой,
                    потом с другим.
                </p>
            </div>
        </div>


    </div>
</section>
