<section class="course-hints">

    <div class="course-hints__container">
        <div class="course-hints__left">
        <h2 class="course-hints__title">Этот курс для вас, если</h2>
        </div>
        <div class="course-hints__right">
        <div class="course-hints__grid">
            <div class="course-hints__card card-1">
                <span class="course-hints__num">01.</span>
                <img src="images/icons/heart-crack.svg" class="course-hints__icon" alt="" />
                <p><strong>Вы постоянно попадаете в отношения,</strong><br />в которых страдаете</p>
            </div>

            <div class="course-hints__card card-2">
                <span class="course-hints__num">02.</span>
                <img src="images/icons/heart-freeze.svg" class="course-hints__icon" alt="" />
                <p>Вас тянет не к тем — <strong>эмоционально холодным, незрелым или даже токсичным</strong></p>
            </div>

            <div class="course-hints__card card-3">
                <span class="course-hints__num">03.</span>
                <img src="images/icons/rope-hand.svg" class="course-hints__icon" alt="" />
                <p>Вы <em>боитесь одиночества</em> и цепляетесь за отношения даже когда<br /><strong>все внутри кричит «беги!»</strong></p>
            </div>

            <div class="course-hints__card card-4">
                <span class="course-hints__num">04.</span>
                <img src="images/icons/heart-lock.svg" class="course-hints__icon" alt="" />
                <p>Вы <strong>долгое время не можете впустить в сердце любовь</strong></p>
            </div>

            <div class="course-hints__card card-5">
                <span class="course-hints__num">05.</span>
                <img src="images/icons/flower-dead.svg" class="course-hints__icon" alt="" />
                <p><em>Потеряли веру</em>, что может быть по-другому</p>
            </div>

            <div class="course-hints__card card-6">
                <span class="course-hints__num">06.</span>
                <img src="images/icons/sad-face.svg" class="course-hints__icon" alt="" />
                <p>Хотите по-другому, но не знаете как</p>
            </div>
        </div>
        </div>
    </div>
</section>
