<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <img src="images/logo.svg" alt="Логотип" />
      <span>Ваш сценарий<br />отношений</span>
    </div>
    <nav class="header__nav">
      <a href="#" class="header__link">Главная</a>
      <a href="#" class="header__link">Про курс</a>
      <a href="#" class="header__link">Об авторе</a>
      <a href="#" class="header__link">Отзывы</a>
      <a href="#" class="header__link">Частые вопросы</a>
    </nav>
    <a href="#" class="button button--secondary button--icon">Записаться →</a>
  </div>
</header>
