<section class="program">
    <div class="program__container">
        <h2 class="program__title">Программа курса</h2>
        <ul class="program__list">
            <li class="program__item lesson">
                <div class="lesson__headline">
                    <span class="lesson__number">Урок&nbsp;01.</span>
                    <h3 class="lesson__name">
                        Что такое сценарий отношений и&nbsp;какими они&nbsp;бывают
                    </h3>
                </div>
                <p class="lesson__desc">
                    Как понять, что вы уже внутри определенного сценария?
                    И&nbsp;стоит&nbsp;ли его менять?
                </p>
            </li>
            <li class="program__item lesson">
                <div class="lesson__headline">
                    <span class="lesson__number">Урок&nbsp;02.</span>
                    <h3 class="lesson__name">
                        Почему вы выбрали именно этого партнера
                    </h3>
                </div>
                <p class="lesson__desc">
                    Как детский опыт и отношения с родителями влияют на наш выбор партнера? И почему вы тянетесь к тем, кто причиняет вам боль? 
                </p>
            </li>
            <li class="program__item lesson">
                <div class="lesson__headline">
                    <span class="lesson__number">Урок&nbsp;03.</span>
                    <h3 class="lesson__name">
                        Мои потребности
                        в отношениях
                    </h3>
                </div>
                <p class="lesson__desc">
                    Зачем вам на самом деле нужны отношения? Чтобы любить или чтобы закрыть пустоту?
                </p>
            </li>
            <li class="program__item lesson">
                <div class="lesson__headline">
                    <span class="lesson__number">Урок&nbsp;04.</span>
                    <h3 class="lesson__name">
                        Отношения с собой –
                        фундамент всего
                    </h3>
                </div>
                <p class="lesson__desc">
                    Самоценность, свои желания и цели без чувства вины. Как сочетаются собственные границы и самоотдача в отношениях?
                </p>
            </li>
            <li class="program__item lesson">
                <div class="lesson__headline">
                    <span class="lesson__number">Урок&nbsp;05.</span>
                    <h3 class="lesson__name">
                        Как выстраивать
                        здоровые отношения
                    </h3>
                </div>
                <p class="lesson__desc">
                    Из чего на самом деле состоят счастливые пары? Пошаговая диагностика + простые инструменты
                </p>
            </li>
            <li class="program__item lesson">
                <div class="lesson__headline">
                    <span class="lesson__number">Урок&nbsp;06.</span>
                    <h3 class="lesson__name">
                        Навыки, без которых невозможны счастливые отношения
                    </h3>
                </div>
                <p class="lesson__desc">
                    Эмоции, навыки и конкретные действия, которые трансформируют, развивают и укрепляют отношения
                </p>
            </li>
        </ul>

        <a href="#content" class="button button--tertiary program__cta">
            Подробнее о содержании
            <svg aria-hidden="true" width="32" height="32" viewBox="0 0 24 24">
                <path d="M14 3h7v7h-2V6.41l-9.29 9.3-1.42-1.42 9.3-9.29H14V3Z"/>
            </svg>
        </a>
    </div>
</section>
